In [ ]:
#List is mutable datatype
##Tuple is immutable datatype
###String is immutable datatype

## Tuple Datatype

In [14]:
#Tuple Datatype(elements are integers) ---type(),max(),min(),sum(),len() functions
a=(1,2,3,4,5)
print(a)
print(type(a))
print(max(a))
print(min(a))
print(sum(a))
print(len(a))

(1, 2, 3, 4, 5)
<class 'tuple'>
5
1
15
5

In [12]:
#Tuple Datatype(elements are strings) ---type(),max(),min(),len() functions
a=("deepjoy","saikat","a","z")
print(a)
print(type(a))
print(max(a))
print(min(a))
print(len(a))

<class 'tuple'>
z
a
4

In [13]:
#Tuple Datatype(elements are differnet datatypes)
a=("deepjoy","saikat",1,2,4.5,18.2,True,False)
print(a)

('deepjoy', 'saikat', 1, 2, 4.5, 18.2, True, False)

In [34]:
#Tuple Datatype(index function)---find the index of value in tuple
a=("deepjoy","saikat",1,2,4.5,18.2)
print(a.index("saikat"))

1

In [23]:
#Tuple Datatype(index function)---find the index of value in tuple
a=("deepjoy","saikat",1,2,4.5,18.2)
b=a.index("saikat")
print(b)

1

In [37]:
#Tuple Datatype(count function)---counting the occurance of a element in tuple
a=("deepjoy","saikat",1,2,4.5,18.2,2,2,4.5)
a.count(2)

3

In [42]:
#Tuple Datatype(count function)---counting the occurance of a element in tuple
a=("deepjoy","saikat",1,2,4.5,18.2,2,2,4.5)
b=a.count("saikat")
print(b)

1

In [43]:
a=[1,2,3,4] #list is mutable datatype
b=(2,5,6) #tuple is immutable datatype
a[1]=8 
print(a)
b[1]=9
print(b)

[1, 8, 3, 4]

TypeError: 'tuple' object does not support item assignment

In [1]:
#list inside a tuple
a=(1,2,3,[4,5,6],18,19)
print(a[3])

[4, 5, 6]

In [4]:
#list inside a tuple----append function using in the list which is inside a tuple
a=(1,2,3,[4,5,6],18,19)
a[3].append(7)
print(a)

(1, 2, 3, [4, 5, 6, 7], 18, 19)

In [6]:
#tuple inside a list
a=[1,2,3,(4,5,6),18,19]
a[3]=(7,8,9,10)
print(a)

[1, 2, 3, (7, 8, 9, 10), 18, 19]

## Dictionary Datatype

In [10]:
#dictionary datatype combination of key and value---key should be unique and any datatype---values will be any datatype
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a)
print(type(a))

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}
<class 'dict'>

In [14]:
#print values with the help of keys in a dictionary datatype
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a)
print(type(a))
a[5]

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}
<class 'dict'>

True

In [15]:
#print values with the help of keys in a dictionary datatype
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a)
print(type(a))
a["saikat"]

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}
<class 'dict'>

2.5

In [13]:
#print values with the help of keys in a dictionary datatype
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a)
print(type(a))
print(a[1],a[2],a[3],a["saikat"],a[5],a[6])

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}
<class 'dict'>
[2, 4, 5, 6] (1, 5, 6) 1 2.5 True deepjoy

In [1]:
#print values with the help of keys in a dictionary datatype
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a)
print(type(a))
a[1].append(8) #append function using list which is inside of a dictionary
print(a)

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}
<class 'dict'>
{1: [2, 4, 5, 6, 8], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}

In [2]:
#dictionary datatype (keys() function)--printing all keys inside a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a.keys())

dict_keys([1, 2, 3, 'saikat', 5, 6])

In [3]:
#dictionary datatype (values() function)--printing all values inside a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a.values())

dict_values([[2, 4, 5, 6], (1, 5, 6), 1, 2.5, True, 'deepjoy'])

In [6]:
#dictionary datatype (pop() function)----remove specific keys with its values
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
a.pop(1)
print(a)

{2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}

In [9]:
#dictionary datatype (items() function)--printing all items or elements as key and value pairs inside a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
a.items()

dict_items([(1, [2, 4, 5, 6]), (2, (1, 5, 6)), (3, 1), ('saikat', 2.5), (5, True), (6, 'deepjoy')])

In [10]:
#dictionary datatype (clear() function)--delete all items or elements key and value inside a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
a.clear()
print(a)

{}

In [11]:
#dictionary datatype (copy() function)--copy all items or elements key and value inside a dictionary to another dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
b=a.copy()
print(a)
print(b)

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}
{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'}

In [12]:
#dictionary datatype (popitem() function)--delete last key and its values of a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
a.popitem()
print(a)

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True}

In [15]:
#dictionary datatype (update() function)--updating a dictionary from b dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1   
}
b={
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
a.update(b)
print(a,b)

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1, 'saikat': 2.5, 5: True, 6: 'deepjoy'} {'saikat': 2.5, 5: True, 6: 'deepjoy'}

In [16]:
#dictionary datatype (update() function)--updating b dictionary from a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1   
}
b={
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
b.update(a)
print(a,b)

{1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1} {'saikat': 2.5, 5: True, 6: 'deepjoy', 1: [2, 4, 5, 6], 2: (1, 5, 6), 3: 1}

In [19]:
#dictionary datatype (get() function)--getting values with the help of key in a dictionary 
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a.get(5))

True

In [20]:
#dictionary datatype (get() function)--getting values with the help of key in a dictionary---wrong key input will return None in a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a.get(10))

None

In [22]:
#dictionary datatype key wise value printing ----wrong key input will return error in  a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a[8])

KeyError: 8

In [21]:
#dictionary datatype (get() function)--getting values with the help of key in a dictionary---wrong key input will return None in a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a.get(10))
print("Deepjoy")
print("Saikat")

None
Deepjoy
Saikat

In [23]:
#dictionary datatype key wise value printing----wrong key input will return error in  a dictionary
a={
    1:[2,4,5,6],
    2:(1,5,6),
    3:1,
    "saikat":2.5,
    5:True,
    6:"deepjoy"    
}
print(a[10])
print("Deepjoy")
print("Saikat")

KeyError: 10

## Set Datatype

In [41]:
#set datatype for integer as elements
a={1,2,3,4,5,5,6,6,7,10}
print(a) #only print distinct values inside a set datatype
print(type(a))

{1, 2, 3, 4, 5, 6, 7, 10}
<class 'set'>

In [40]:
#set datatype for mixed datatypes as elements
a={1,2,2,3.5,3.5,17.6,"deepjoy",2,"saikat","a",18,"a"}
print(a) #only print distinct values inside a set datatype
print(type(a))

{1, 2, 3.5, 'saikat', 'a', 17.6, 18, 'deepjoy'}
<class 'set'>

### Different Datatype conversions

In [32]:
#tuple to list datatype conversion
a=(1,2,3,4)
b=list(a)
print(type(a),a)
print(type(b),b)

<class 'tuple'> (1, 2, 3, 4)
<class 'list'> [1, 2, 3, 4]

In [34]:
#string to list datatype conversion
a=list("debraj")
print(type(a))
print(a)

<class 'list'>
['d', 'e', 'b', 'r', 'a', 'j']

In [39]:
#set to list datatype conversion
a={1,2,3,4}
b=list(a)
print(type(a),a)
print(type(b),b)

<class 'set'> {1, 2, 3, 4}
<class 'list'> [1, 2, 3, 4]

In [43]:
#list to tuple datatype conversion
a=[1,2,3,4]
b=tuple(a)
print(type(a),a)
print(type(b),b)

<class 'list'> [1, 2, 3, 4]
<class 'tuple'> (1, 2, 3, 4)

In [44]:
#string to tuple datatype conversion
a=tuple("debraj")
print(type(a))
print(a)

<class 'tuple'>
('d', 'e', 'b', 'r', 'a', 'j')

In [45]:
#set to tuple datatype conversion
a={1,2,3,4}
b=tuple(a)
print(type(a),a)
print(type(b),b)

<class 'set'> {1, 2, 3, 4}
<class 'tuple'> (1, 2, 3, 4)

In [46]:
#tuple to set datatype conversion
a=(1,2,3,4)
b=set(a)
print(type(a),a)
print(type(b),b)

<class 'tuple'> (1, 2, 3, 4)
<class 'set'> {1, 2, 3, 4}

In [47]:
#string to set datatype conversion
a=set("debraj")
print(type(a))
print(a)

<class 'set'>
{'r', 'a', 'd', 'j', 'b', 'e'}

In [48]:
#list to set datatype conversion
a=[1,2,3,4]
b=tuple(a)
print(type(a),a)
print(type(b),b)

<class 'list'> [1, 2, 3, 4]
<class 'tuple'> (1, 2, 3, 4)

In [51]:
#dictionary datatype
a=dict([(1,15),(2.5,5.9),("debraj",True),(False,45),(29,"saikat")])
print(type(a))
print(a)

<class 'dict'>
{1: 15, 2.5: 5.9, 'debraj': True, False: 45, 29: 'saikat'}

In [52]:
#dictionary datatype
a=dict(((1,15),(2.5,5.9),("debraj",True),(False,45),(29,"saikat")))
print(type(a))
print(a)

<class 'dict'>
{1: 15, 2.5: 5.9, 'debraj': True, False: 45, 29: 'saikat'}

In [53]:
#dictionary datatype
a=dict([[1,15],[2.5,5.9],["debraj",True],[False,45],[29,"saikat"]])
print(type(a))
print(a)

<class 'dict'>
{1: 15, 2.5: 5.9, 'debraj': True, False: 45, 29: 'saikat'}

In [55]:
#dictionary datatype
a=dict(([1,15],[2.5,5.9],["debraj",True],[False,45],[29,"saikat"]))
print(type(a))
print(a)

<class 'dict'>
{1: 15, 2.5: 5.9, 'debraj': True, False: 45, 29: 'saikat'}

In [1]:
# Concatinate list of list in a single flatten list
list_of_lists = [[1, 2, 3], [4, 5], [6]]
flattened_list = sum(list_of_lists, [])
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [2]:
# Convert a String into a Single list
string = "Deepjoy"
string_list = [string]
print(type(string_list))
print(string_list)

<class 'list'>
['Deepjoy']