In [2]:
print("My name is Deepjoy")

My name is Deepjoy

In [3]:
# Print as u wish
print("""My name is Deepjoy Sarkar.
I live in Ultadanga.
I want to become a software developer.""")

My name is Deepjoy Sarkar.
I live in Ultadanga.
I want to become a software developer.

In [2]:
# Print as 1 single space in a single line
print("My name is Deepjoy Sarkar.\
 I live in Ultadanga.\
 I want to become a software developer.")

My name is Deepjoy Sarkar. I live in Ultadanga. I want to become a software developer.

In [1]:
# New line print
print("This is the first line.\nThis is the second line.")

This is the first line.
This is the second line.

In [4]:
# Print as single tab(8 spaces)
print("This is a string with a \ttab.")

This is a string with a 	tab.

In [5]:
# Print as 1st line and 4th line(3 line gap in between them)
print("Line 1\n\n\nLine 4")

Line 1


Line 4

In [6]:
# Print 1st line and 2nd line with a tab space
print("First line\n\tSecond line with a tab")

First line
	Second line with a tab

In [11]:
a=5
b=6
print(a+b)

11

In [12]:
c=11
print(a+c)

16

In [16]:
a=5
b=6
c=a/b
print(c)

0.8333333333333334

In [7]:
# f string using to print the variable with string
a=2
b=1
c=f"My name is {a} {b}"
print(c)

My name is 2 1

## Python Classes
- Session 1
- Session 2

In [23]:
a=2
b=3
result=(a+b)**3
print(result)

125

In [8]:
first_name="Deepjoy"
last_name="Sarkar"
result=first_name+" "+last_name
print(result)

Deepjoy Sarkar